$base-width: 400px;
h1 {
  text-align: center;
  background-color: black;
  color: white;
  margin-bottom: 0px;
  margin-top: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}
.nav-itemR {
  float: right;
}
li {
  float: left;
  a {
    display: block;
    padding: 6px 14px;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: black;
    &:hover {
      background-color: silver;
    }
    &.active {
      background-color: rgb(170, 170, 170);
    }
  }
}
