.circleBackGround {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;

  &.O {
    background-color: rgb(251, 21, 105);
  }

  &.X {
    background-color: rgb(1, 217, 146);
  }
}

button {
  margin-bottom: 2px;
  margin-left: 2px;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  display: flex;
  text-align: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(88, 88, 88);

  &:hover:not([disabled]) {
    background-color: honeydew;
  }
}

.clickedTrue {
  pointer-events: none;
}

.wholeCell {
  padding: 0;
  border: none;
  outline: none;
  background: none;
  display: flex;
  text-align: center;
  justify-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(88, 88, 88);
}
