<button
  [class.clickedTrue]="sign != ''"
  (click)="updateCellState()"
  [disabled]="isDisabled || sign != ''"
>
  <div class="wholeCell" *ngIf="isX">
    <div class="circleBackGround X">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="70%"
        height="70%"
        viewBox="0 0 24 24"
        fill=""
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-x"
      >
        <line x1="18" y1="6" x2="6" y2="18"></line>
        <line x1="6" y1="6" x2="18" y2="18"></line>
      </svg>
    </div>
  </div>
  <div class="wholeCell" *ngIf="isO">
    <div class="circleBackGround O">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="rgb(251, 21, 105)"
        width="60%"
        height="60%"
        viewBox="0 0 24 24"
        stroke="white"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="feather feather-circle"
      >
        <circle cx="12" cy="12" r="10"></circle>
      </svg>
    </div>
  </div>
</button>
