button {
  background-color: #fafafa;
  color: black;
  padding: 2px 2px;
  text-align: center;
  outline: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  &:hover {
    background-color: silver;
  }
}
div.backGround {
  background-color: rgb(88, 88, 88);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 100%;
}
div.tableContainer {
  justify-items: center;
  text-align: center;
}
table {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  table-layout: fixed;
  border-collapse: collapse;
  border-style: hidden;
  td {
    padding: 1rem;
    overflow: hidden;
    height: 95px;
    width: 90px;
    border: 3px solid white;
    text-align: center;
  }
}
