:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 88, 88);

  button {
    background-color: #fafafa;
    color: black;
    text-align: center;
    outline: none;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    &:hover {
      background-color: silver;
    }
  }
  table {
    flex: 1 1 auto;
    table-layout: fixed;
    border-collapse: collapse;
    border-style: hidden;
    td {
      padding: 1rem;
      overflow: hidden;
      height: 96px;
      width: 96px;
      border: 3px solid white;
      text-align: center;
    }
  }
}
